body,
ul, 
li, 
p {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1.2rem;
    font-family: sans-serif;
    list-style: none;
    color: #333;
    text-align: center;
}

a {
    text-decoration: none;
    color: #FFF;
}

h1 {
    color: #FFF;
    font-size: 1.4rem;
    line-height: 2rem;
    text-align: center;
    background-color: rgba(0,0,0,.8);
    margin: 0;
    padding: 5px;
    max-width: 700px;;
}

h2 {
    text-align: center;
    margin: 50px 0 10px 0;
}

img {
    /* Máimo de 100% do container */
    max-width: 100%;
    /* display: block; */
    border-radius: 3px;
}


.header {
    background-color: #222;
    padding-top: 15px;
    justify-content: space-around;
    align-items: center;
}

.menu li {
    margin-left: 5px;
}

.menu li a {
    display: block;
    padding: 10px;
    border-bottom: 3px solid #222;
}

.menu li a:hover {
    border-bottom: 3px solid #FF0000;
}


/* Banner Full */
.full-banner {
    background-image: url(../images/banner.jpg);
    background-size: cover;
    background-position: center;
    height: 300px;
    justify-content: center;
    padding: 0 30px;
}

.galeria {
    margin: 0 auto;
    max-width: 1000px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.galeria > div {
    margin: 10px;
    flex: 1 1 200px;
}

.secao-noticias-videos {
    margin: 0 auto;
    max-width: 1000px;
    display: flex;
    flex-wrap: wrap;
}

.secao-noticias-videos > section {
    max-width: 500px;
}

.noticias {
    margin: 0 auto;
    max-width: 500px;
}

.noticias > div {
    margin: 10px;
    flex: 1 1 200px;
}

.noticias a {
    color: #f00;
}

.noticias li {
    text-align: left;
    border-bottom: 1px solid gray;
    margin-bottom: 10px;
    padding-bottom: 10px;
    margin-right: 20px;
}

.videos {
    margin: 0 auto;
    max-width: 500px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.videos iframe {
    max-width: 100%;
}

footer {
    background-color: #222;
    margin-top: 30px;
    padding: 30px 20px;
}

footer p {
    font-size: 1rem;
    line-height: 1.5rem;
    color: #999;
}

/*Header*/
header {
    display: flex;
    justify-content:; space-around;
    flex-wrap: wrap
}
header img {
    max-height: 75px;
}

header nav ul {
    display: flex;
}
header nav li{
    flex: 1;
}

/*Banner*/
.full-banner {
    display: flex;
}
.full-banner h1 {
    margin-top: auto;
}
